{% extends 'Dashboard/dashboard.html' %}

{% block content %}
<br>
<div class="d-flex align-items-center justify-content-center mb-4">
    <div class="col-sm-12 col-xl-6">
        <div class="bg-light rounded h-100 p-4">
            <h4 class="text-center mb-4">Nuevo Servicio</h4>
            <form method="post" action="{% url 'crear-servicio' %}" enctype="multipart/form-data">
                
                {% csrf_token %}
                
                <div class="mb-3">
                    <label for="foto">Foto</label>
                    <input class="form-control form-control-lg" id="formFileLg" name="foto" type="file" required>
                </div>
                
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="titulo" id="floatingInput"
                        placeholder="Escriba un título" required>
                    <label for="titulo">Título</label>
                </div>
                
                <div class="form-floating">
                    <textarea class="form-control" name="desc" placeholder="Escriba una descripción"
                        id="desc" style="height: 150px;" rows="5" required></textarea>
                    <label for="floatingTextarea">Descripción</label>
                </div>
                
                <br><div class="mb-3">
                    <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Guardar</button>
                    <a class="btn btn-danger" href="{% url 'servicios' %}"><i class="fas fa-times"></i> Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}

{% block footer %}{% endblock footer %}